<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- Resources Charts-->
  <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="https://www.amcharts.com/lib/3/gauge.js"></script>
  <script src="https://www.amcharts.com/lib/3/serial.js"></script>
  <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
  <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
  <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
  <!-- Resources materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Costum Style-->
  <link rel="stylesheet" href="../assets/css/style.css">
  <!-- Resources Free Icons-->
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
  <style>
#chartdivbars {
  width: 100%;
  height: 500px;
}

.card-counters{
  height: 220px;
}
</style>
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="#" class="brand-logo center"><img src="../assets/img/letras_1.png" alt=""></a>
      </div>
    </nav>

    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <img src="../assets/img/user_Background.jpg">
          </div>
          <a href="#user"><img class="circle" src="../assets/img/Empresa_iconoV2.png" ></a>
          <a href="#name"><span class="white-text name" id="user_Name">user</span></a>
          <a href="#logOut" id="logOut"><span class="white-text name" id="user_Name">Log Out</span></a>
        </div>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="principal.html">Home</a></li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Dashboard</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="asistencia.html">Asistencia</a></li>
              </ul>
            </div>
          </li>
          <li class="bold"><a class="collapsible-header waves-effect waves-teal" href="perfil.html">Perfil</a></li>
        </ul>
      </li>
    </ul>

    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="#!">three</a></li>
    </ul>
  </header>
  <div class="container center-align">
    <div class="row ">
      <div class="col s5 m4 l4">
        <div class="card-panel card-counters">
          <p><span class="lnr lnr-mustache"></span></p>
          <p class="counter-wrapper"><span class="counter fb"></span></p>
          <span class="text-counter">Empleados Activos</span>
        </div>
      </div>
      <div class="col s5 m4 l4">
        <div class="card-panel card-counters">
          <p><span class="lnr lnr-smile"></span></p>
          <p class="counter-wrapper"><span class="counter code"></span></p>
          <span class="text-counter">Empleados por sucursal</span>
        </div>
      </div>
      <div class="col s5 m4 l4">
        <div class="card-panel card-counters">
          <p><span class="lnr lnr-sad"></span></p>
          <p class="counter-wrapper"><span class="counter bike"></span></p>
          <span class="text-counter">Empleados Inactivos</span>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <h4 style="text-align: left;">Grafica de ausencia</h4>
      <div id="chartdiv"></div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <h4 style="text-align: left;">Incidencias mensuales</h4>
      <div id="chartdivbars"></div>
    </div>

  </div>
  <!-- Resources jquery-->
  <script src="../assets/js/jquery.js"></script>
  <!-- Resources materialize JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <!-- Nav Js File-->
  <script src="../assets/js/navbar.js" type="text/javascript"></script>
  <!-- Resources firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
  <script src="../assets/js/firestore.init.js" type="text/javascript"></script>
  <!-- Resources Charts-->
  <script type="text/javascript" src="../assets/js/logOut.js"></script>
  <script type="text/javascript">
    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        $("#user_Name").text(user.email);
      } else {
        console.log("No user");
      }
    });
  </script>
  <script src="../assets/js/animate_numbers/animationCounter.js" charset="utf-8"></script>
  <script src="../assets/js/animate_numbers/custom-animation.js" charset="utf-8"></script>
  <script src="../assets/js/charts/charts.js" charset="utf-8"></script>
  <script>
  var chart = AmCharts.makeChart("chartdivbars", {
      "type": "serial",
      "theme": "light",
      "legend": {
          "equalWidths": false,
          "useGraphSettings": true,
          "valueAlign": "left",
          "valueWidth": 120
      },
      "dataProvider": [{
          "date": "2012-01-01",
          "distance": 227,
          "townName": "New York",
          "townName2": "New York",
          "townSize": 25,
          "latitude": 40.71,
          "duration": 408
      }, {
          "date": "2012-01-02",
          "distance": 371,
          "townName": "Washington",
          "townSize": 14,
          "latitude": 38.89,
          "duration": 482
      }, {
          "date": "2012-01-03",
          "distance": 433,
          "townName": "Wilmington",
          "townSize": 6,
          "latitude": 34.22,
          "duration": 562
      }, {
          "date": "2012-01-04",
          "distance": 345,
          "townName": "Jacksonville",
          "townSize": 7,
          "latitude": 30.35,
          "duration": 379
      }, {
          "date": "2012-01-05",
          "distance": 480,
          "townName": "Miami",
          "townName2": "Miami",
          "townSize": 10,
          "latitude": 25.83,
          "duration": 501
      }, {
          "date": "2012-01-06",
          "distance": 386,
          "townName": "Tallahassee",
          "townSize": 7,
          "latitude": 30.46,
          "duration": 443
      }, {
          "date": "2012-01-07",
          "distance": 348,
          "townName": "New Orleans",
          "townSize": 10,
          "latitude": 29.94,
          "duration": 405
      }, {
          "date": "2012-01-08",
          "distance": 238,
          "townName": "Houston",
          "townName2": "Houston",
          "townSize": 16,
          "latitude": 29.76,
          "duration": 309
      }, {
          "date": "2012-01-09",
          "distance": 218,
          "townName": "Dalas",
          "townSize": 17,
          "latitude": 32.8,
          "duration": 287
      }, {
          "date": "2012-01-10",
          "distance": 349,
          "townName": "Oklahoma City",
          "townSize": 11,
          "latitude": 35.49,
          "duration": 485
      }, {
          "date": "2012-01-11",
          "distance": 603,
          "townName": "Kansas City",
          "townSize": 10,
          "latitude": 39.1,
          "duration": 890
      }, {
          "date": "2012-01-12",
          "distance": 534,
          "townName": "Denver",
          "townName2": "Denver",
          "townSize": 18,
          "latitude": 39.74,
          "duration": 810
      }, {
          "date": "2012-01-13",
          "townName": "Salt Lake City",
          "townSize": 12,
          "distance": 425,
          "duration": 670,
          "latitude": 40.75,
          "dashLength": 8,
          "alpha": 0.4
      }, {
          "date": "2012-01-14",
          "latitude": 36.1,
          "duration": 470,
          "townName": "Las Vegas",
          "townName2": "Las Vegas"
      }, {
          "date": "2012-01-15"
      }, {
          "date": "2012-01-16"
      }, {
          "date": "2012-01-17"
      }, {
          "date": "2012-01-18"
      }, {
          "date": "2012-01-19"
      }],
      "valueAxes": [{
          "id": "distanceAxis",
          "axisAlpha": 0,
          "gridAlpha": 0,
          "position": "left",
          "title": "distance"
      }, {
          "id": "latitudeAxis",
          "axisAlpha": 0,
          "gridAlpha": 0,
          "labelsEnabled": false,
          "position": "right"
      }, {
          "id": "durationAxis",
          "duration": "mm",
          "durationUnits": {
              "hh": "h ",
              "mm": "min"
          },
          "axisAlpha": 0,
          "gridAlpha": 0,
          "inside": true,
          "position": "right",
          "title": "duration"
      }],
      "graphs": [{
          "alphaField": "alpha",
          "balloonText": "[[value]] miles",
          "dashLengthField": "dashLength",
          "fillAlphas": 0.7,
          "legendPeriodValueText": "total: [[value.sum]] mi",
          "legendValueText": "[[value]] mi",
          "title": "distance",
          "type": "column",
          "valueField": "distance",
          "valueAxis": "distanceAxis"
      }, {
          "balloonText": "latitude:[[value]]",
          "bullet": "round",
          "bulletBorderAlpha": 1,
          "useLineColorForBulletBorder": true,
          "bulletColor": "#FFFFFF",
          "bulletSizeField": "townSize",
          "dashLengthField": "dashLength",
          "descriptionField": "townName",
          "labelPosition": "right",
          "labelText": "[[townName2]]",
          "legendValueText": "[[value]]/[[description]]",
          "title": "latitude/city",
          "fillAlphas": 0,
          "valueField": "latitude",
          "valueAxis": "latitudeAxis"
      }, {
          "bullet": "square",
          "bulletBorderAlpha": 1,
          "bulletBorderThickness": 1,
          "dashLengthField": "dashLength",
          "legendValueText": "[[value]]",
          "title": "duration",
          "fillAlphas": 0,
          "valueField": "duration",
          "valueAxis": "durationAxis"
      }],
      "chartCursor": {
          "categoryBalloonDateFormat": "DD",
          "cursorAlpha": 0.1,
          "cursorColor":"#000000",
           "fullWidth":true,
          "valueBalloonsEnabled": false,
          "zoomable": false
      },
      "dataDateFormat": "YYYY-MM-DD",
      "categoryField": "date",
      "categoryAxis": {
          "dateFormats": [{
              "period": "DD",
              "format": "DD"
          }, {
              "period": "WW",
              "format": "MMM DD"
          }, {
              "period": "MM",
              "format": "MMM"
          }, {
              "period": "YYYY",
              "format": "YYYY"
          }],
          "parseDates": true,
          "autoGridCount": false,
          "axisColor": "#555555",
          "gridAlpha": 0.1,
          "gridColor": "#FFFFFF",
          "gridCount": 50
      },
      "export": {
      	"enabled": true
       }
  });
  </script>

</body>

</html>
